<form [formGroup]="todoForm">
  <div *ngIf="!!todo" class="todo-item" [attr.data-id]="'todo-item_todo-card'">
    <div class="todo-line">
      <div>
        <input
          type="checkbox"
          formControlName="done"
          (change)="onDone()"
          [attr.data-id]="'todo-item_done'"/>
      </div>
      <div class="todo-right-space">
        <div>
          <div class="todo-title">
            <ng-container *ngIf="isEdit; else todoTitleRef">
              <input
                type="text"
                formControlName="title"
                [attr.data-id]="'todo-item_input-field'">
            </ng-container>
            <ng-template #todoTitleRef>
              {{todo.title}}
            </ng-template>
          </div>
          <div class="todo-date">{{todo.date | date:'dd.MM.yyyy'}}</div>
        </div>
        <div class="todo-buttons">
          <button
            *ngIf="!isEdit && !isSaved; else saveButtonRef"
            class="edit-button"
            [attr.data-id]="'todo-item_edit-button'"
            (click)="onEdit()">Редактировать</button>

          <ng-template #saveButtonRef>
            <button
              class="save-button"
              [attr.data-id]="'todo-item_save-button'"
              (click)="onSave()">Сохранить</button>
          </ng-template>

          <button
            class="delete-button"
            [attr.data-id]="'todo-item_delete-button'"
            (click)="onDelete()">Удалить</button>
        </div>
      </div>
    </div>
  </div>
</form>

